# Auto detect text files and perform LF normalization
* text=auto
probability/* filter=lfs diff=lfs merge=lfs -text
pytorch_result/predicted_lat filter=lfs diff=lfs merge=lfs -text
pytorch_result/predicted_long filter=lfs diff=lfs merge=lfs -text
pytorch_result/y_test_all filter=lfs diff=lfs merge=lfs -text